@charset "utf-8";

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// Define defaults for each variable.
$mono-font-family: 'DungGeunMo', monospace;
$sans-serif-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$reading-font-family: $sans-serif-font-family; //'EliceDigitalBaeum_Regular', monospace;
$base-font-family: $mono-font-family;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * .75;//* 0.875 !default;
$reading-font-size: 16px;
$base-line-height: 1.5; // 1.5


$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px;//800px !default;

$on-palm:          767px;// 600px !default;
$on-tablet:        992px;
$on-laptop:        1200px;//800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "anjee/base";


$shadow-color: rgba(0,0,0,0.4);
$red-highlight: #c9413d;
$blue-highlight: #5d7096;
$background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3fMCx_68JZw-9nMunNZekgYepXIvxq2IGT3cLIzlSuabf-vmIk4vT2olhc63HRV5gMXKgHel9kSQjqkur4tvcJc2ycZ8ecXPbI_ZuASK3_spCAlwE_xlM8khCLq0S83_bGNOcaD93ynxWANCHFou6HL=w1058-h628-no") no-repeat center right; //repulse bay

$font-family-accent: 'Black Han Sans', sans-serif;

$dark-mode: false;

:root {
    --color-light: rgb(242, 240, 240);//rgb(223, 218, 218);
    --color-light-rgb: 242, 240, 240;
    --color-dark: #121619; // rgb(65, 65, 65);
    --text-color: var(--color-dark);
    --color-highlight: #bf8ecd;// rgb(131, 77, 139);
    // Color palette
    // --pastel-grey: #efefef;
    // --pastel-blue: #CDCFFB; // #c0cffc;
    // --pastel-yellow: #FBEECD;// #f7ea9e;
    // --pastel-red: #FBCDCD; //#ffb3b3;
}

// Sizing for different pages
// .page.stories {
//     margin-right: 14rem;
//     @include media-query($on-tablet) {
//         margin-right: 12rem;
//     }
//     @include media-query($on-palm) {
//         margin: 0;
//     }
// }
// .page.photos-35mm {
//     // margin: 0 10rem;
//     @include media-query($on-tablet) {
//         margin: 0
//     }
//     @include media-query($on-palm) {
//         margin: 0;
//     }
// }

body {
    color: var(--text-color);
    font-family: $mono-font-family;
    scrollbar-width: none;
    // background-color: var(--color-highlight);
    background: url('../assets/bgImage.jpg');
}
// body:before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 2000px;
//     z-index: -10;
//     background: url('../assets/bgImage.jpg');
//     background-position: top;
//     top: 0;
//     left: 0;
//     background-size: auto;
// }
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{ scrollbar-width: none; }
}
.wrapper {
    // max-width: $content-width;
    max-width: 100%;
}
blockquote {
    border-left: 4px solid $grey-color;
}
.img-center {
    display: block;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 1.5rem;
}
a i {
    border-bottom: 1px solid var(--text-color);
}
.smaller-text {
    font-size: smaller;
}
.text-announcement {
    text-align: center;
    span {
        background-color: var(--color-highlight);
        color: var(--color-light);
    }
}
.align-middle {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.mailto-message {
    position: absolute;
    display: none;
    width: auto;
    white-space: nowrap;
    font-size: .7rem;
    background-color: var(--color-highlight);
    color: var(--color-dark);
    padding: 2px 6px;
    border-radius: 2px;
    &:after {
        content: '';
    }
}
.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
    display: block;
}

  
///////////////////////////////////////////
/// PAGE CONTENT
///////////////////////////////////////////
/// right-margin: 14 (full), 12 (tablet), 0 (mobile)
.page-content {
    color: var(--text-color);
    display: flex;
    // margin: 0 14rem 0 0;
    padding: 0 0 3rem 0;
    align-items: center;
    transition: .3s ease-in-out;
    // @include media-query($on-tablet) {
    //     margin: 0 12rem 0 0;
    // }
    // @include media-query($on-palm) {
    //     width: 100vw;
    //     margin: 0;
    //     // margin: 10rem 0 0 0;
    // }
    .wrapper {
        margin-top: 8rem;
        height: 100%;
        width: 100%;
    }
    a {
        color: var(--text-color);
        text-decoration: underline;
        &:visited {
            color: var(--text-color);
        }
        &:hover {
            color: var(--color-highlight);
        }
    }
}
.site-footer {
    border-top: none;
    padding: 0;
    .wrapper {
        max-width: 100vw;
    }
}

///////////////////////////////////////////
/// ABOUT 
///////////////////////////////////////////
.about {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    @include media-query($on-palm) {
        flex-direction: column;
    }
    .scramble-text-about {
        font-size: 3rem;
        line-height: 1;
        @include media-query($on-palm) {
            font-size: 2rem;
        }
    }
    button {
        color: var(--text-color);
        text-shadow: var(--text-shadow);
        font-size: $small-font-size;
        font-family: inherit;
        background-color: transparent;
        border: none;
        transition: .1s ease-in;
        &:hover {
            // text-shadow: 0 0 3px var(--color-light);
            text-shadow: none;
            // animation: bounce-up .3s;
            color: var(--color-highlight);
            cursor: pointer;
            // transform: translateY(-2px);   
            // text-shadow: 2px 2px 1px $shadow-color;  
        }
    }
    #jeehye-audio {
        font-size: $small-font-size;
    }
    #description {
        ul {
            line-height: 1rem;
            list-style: none;
            margin: 2rem 0;
            display: grid;
            grid-template-columns: min-content min-content auto;
            column-gap: 2rem;
            row-gap: 1rem;
        }
        span {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 5px 0 0;
            font-style: italic;
        }
        span:hover {
            transition: .2s ease-out;
            cursor: cell;
        }
    }
    #contact {
        margin: 1rem 0;
        a:hover {
            text-shadow: none;
            // text-shadow: 0 0 3px var(--color-light);
        }
    }
    .mailto-message {
        position: absolute;
        display: none;
        width: auto;
        white-space: nowrap;
        font-size: .7rem;
        background-color: var(--color-dark);// rgba(0,0,0,0.8);
        color: var(--color-light);
        padding: 2px 6px;
        border-radius: 2px;
        &:after {
            content: '';
        }
    }
    .mailto-link:hover .mailto-message,
    .mailto-link:focus .mailto-message,
    .mailto-link:focus-within .mailto-message {
        display: block;
    }
    .about-photo-col {
        width: 40%;
    }
    .about-text-col {
        width: 60%;
    }
    @include media-query($on-palm) {
        .about-photo-col, .about-text-col {
            width: 100%;
        }
    } 
    .about-photo-col, .about-text-col {
        box-sizing: border-box;
        padding: 1rem;
    }
    // #myPhoto {
    //     //display: none;
    //     background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLV7vqVh6u-277985WCCX3aVpsT4E9FFdoA-VP206Ra3buz4vVFXfctiQnUYFKJ7_IHOBxGB4j3-WUhypHT5kCmt-ueZc1QvMpfkvFbJNbDKNMhHyfPk1QFhoKrsmgifJpwitxFqYomqy7SZ_i3Kzz-9=w1100-h1262-no?authuser=0');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center;
    //     transition: .2s ease-out;
    //     height: 100%;
    //     width: 100%;
    //     border: none;
    //     @media (max-width:767px){ // mobile
    //         height: 60vh;
    //     }
    //     &:hover {
    //         background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXH_ij3DwbvrLXn76AMQCisgol24P0OQDuKtv83DkFZq8yoKqUM50yCX7CwbfN19emb0b0LBmae3aalJGjDeynCEa8-b7vWcN7s6hzXc4xBl-7oZ6NA3puqcsceZ75LQ7x-vcnvH1nZZU22CuqML-t7=w1100-h1262-no?authuser=0');
    //     }
    // }
    #myPhoto {
        //display: none;
        background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLV7vqVh6u-277985WCCX3aVpsT4E9FFdoA-VP206Ra3buz4vVFXfctiQnUYFKJ7_IHOBxGB4j3-WUhypHT5kCmt-ueZc1QvMpfkvFbJNbDKNMhHyfPk1QFhoKrsmgifJpwitxFqYomqy7SZ_i3Kzz-9=w1100-h1262-no?authuser=0');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: .2s ease-out;
        height: 100%;
        width: 100%;
        border: none;
        @media (max-width:767px){ // mobile
            height: 60vh;
        }
        &:hover {
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXH_ij3DwbvrLXn76AMQCisgol24P0OQDuKtv83DkFZq8yoKqUM50yCX7CwbfN19emb0b0LBmae3aalJGjDeynCEa8-b7vWcN7s6hzXc4xBl-7oZ6NA3puqcsceZ75LQ7x-vcnvH1nZZU22CuqML-t7=w1100-h1262-no?authuser=0');
        }
    }
}



///////////////////////////////////////////
/// EFFECTS 
///////////////////////////////////////////
// .glassmorphism {
//     background-color: rgba(var(--color-light-rgb), .4);
//     backdrop-filter: blur(5px);
//     -webkit-backdrop-filter: blur(5px);
//     border: 2px solid rgba(var(--color-light-rgb), 0.5);
//     box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
// }
.hidden-nav {
    //display: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.hidden { 
    display: none;
    opacity: 0;
}
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
}
@keyframes bounce-up {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    70% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}
@keyframes photo-bounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
    }
    100% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
}
.translucent-background {
    background-color: rgba(0,0,0,0.9);
    transition: .4s ease-out;
}

.transition-fade {
    transition: 0.2s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
.photo-item {
    transition: opacity 300ms;
    transition-delay: 300ms;
    // transition-delay: calc(var(--index, 0) * 50ms), 0ms;
}
html.is-rendering .photo-item {
    transition-delay: 150ms;
    // transition-delay: calc((var(--count, 0) - var(--index, 0)) * 10ms), 0ms;
}


// @keyframes bounce-up {
//     0% {
//         -webkit-transform: translateY(0px);
//         transform: translateY(0px);
//     }
//     70% {
//         -webkit-transform: translateY(-3px);
//         transform: translateY(-3px);
//     }
//     100% {
//         -webkit-transform: translateY(-2px);
//         transform: translateY(-2px);
//     }
// }
// white glow on black texts right on top of the background image

.underline-effect { // UNDERLINE EFFECT FOR NAV
    transition: .2s ease-in-out;
    a:after {
        position: absolute;
        bottom: .2em; left: 0; right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: var(--color-highlight);
        // background: #212529;
        height: .05em;
        text-decoration: none;
    }
    a:after {
        transition: .2s ease-in-out;
    }
    a:hover, a.current {
        color: var(--color-highlight);
        text-decoration: none;
        font-style: italic;
    }
    a:hover:after {
        width: 100%;
    }
    a.current:after {
        width: 100%
    }
}
.aos-jeehye {
    opacity: 0;
    transition-property: opacity, transform;
    // transform: translate(0, 50px);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.is-visible {
    opacity: 1;
    transform: none;
}
.img-three-row {
    display: inline-block;
    width: 30%;
    @include media-query($on-palm) {
        width: inherit;
    } 
}
.img-two-row {
    display: inline-block;
    width: 45%;
    @include media-query($on-palm) {
        width: inherit;
    } 
}
// .img-small {
//     max-width: 300px;
// }
.photo-gallery-four {
    display: inline-block;
    width: 23%;
    @include media-query($on-palm) {
        width: inherit;
    }   
}
figcaption {
    margin-bottom: 1rem;
    color: var(--color-highlight);
}
.img-size-medium {
    width: 450px;
}
.img-size-small {
    width: 300px;
}
.img-responsive {
    @include media-query($on-palm) {
        width: 100%;
    }
}


/* COMMENTS */
#comment-policy {
    display: none;
}