
$color-extra-light: #eaeaea;
$color-red: #c9413d;
$color-light: rgb(223, 218, 218);
$color-dark: #414141;
// $background-color: $color-light;
$background-color-translucent: #fdfdfd93;
$background-color-translucent-light: rgba(255,255,255,.3);
$shadow-color: rgba(0,0,0,0.5);
$header-color: $grey-color-dark;//
$header-highlight-color: #111111;// white;
$dark-text-color: $color-dark;
$white-text-color: $color-light;
$red-highlight: #c9413d;
$blue-highlight: #5d7096;
$contrast-color: $white-text-color;

$font-family-accent: 'Black Han Sans', sans-serif;

$dark-mode: false;

@if $dark-mode == true {
    $background-color: black;
    $background-color-translucent: #000000bb;
    $brand-color: $red-highlight;
    $text-color: $white-text-color;
    $contrast-color: $dark-text-color;
    $header-color: $white-text-color;
    $header-highlight-color: $red-highlight;
    $shadow-color: rgba(255,255,255,.6);
} @else {
    $brand-color: $color-red;
    $text-color: $dark-text-color;
}

:root {
    --main-width: 80vw;
    --color-light: rgb(223, 218, 218);
    --color-extra-light: rgb(242, 240, 240);
    --color-light-rgb: 223, 218, 218;
    --color-extra-light-rgb: 242, 240, 240;
    --border-color-translucent: rgba(255,255,255,.5);
    --background-color: var(--color-light);
    --color-dark: rgb(65, 65, 65);
    --text-color: --color-light;
    --dark-text-color: var(--color-dark);
    --main-margin-top: 7rem;
    --header-text-shadow: 0 0 3px #00000041;//1px 1px #0000003f, -1px -1px #0000003f, -1px 1px #0000003f, 1px -1px #0000003f;
    --color-red: rgb(202 37 37);
}

* {
    box-sizing: border-box;
}

// Sizing for different pages
.page.photos-35mm {
    margin: 0 5rem;
    @include media-query($on-tablet) {
        margin: 0
    }
    @include media-query($on-palm) {
        margin: 0;
    }
}
.page.stories {
    margin: 0 5rem;
    @include media-query($on-tablet) {
        margin: 0;
    }
    @include media-query($on-palm) {
        margin: 0;
    }
}


body {
    color: var(--text-color);
    font-family: $mono-font-family;
    scrollbar-width: none;
    background-color: var(--color-light);
    &:before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -10;
        // background-image: url("../assets/bg_texture.jpg");
        background: url("https://lh3.googleusercontent.com/pw/ACtC-3fMCx_68JZw-9nMunNZekgYepXIvxq2IGT3cLIzlSuabf-vmIk4vT2olhc63HRV5gMXKgHel9kSQjqkur4tvcJc2ycZ8ecXPbI_ZuASK3_spCAlwE_xlM8khCLq0S83_bGNOcaD93ynxWANCHFou6HL=w1058-h628-no") no-repeat center center; //repulse bay
        background-size: cover;
        // opacity: .4;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{ scrollbar-width: none; }
}
nav {
    z-index: 100;
}
.wrapper {
    max-width: 100%;
}
.page {
    height: 100%;
}
blockquote {
    border-left: 4px solid $grey-color;
}
.img-center {
    display: block;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 1.5rem;
}
h2 {
    text-align: center;
}


///////////////////////////////////////////
///  HEADER
///////////////////////////////////////////
.site-header {
    border: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    pointer-events: none; // clickable under the header div 
    line-height: 1rem;
    min-height: 1rem;
    padding: 1rem calc( (100vw - var(--main-width))/2 );
    // padding: 1rem 10vw;
    .wrapper {
        box-sizing: border-box;
        padding: 0;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        // background: rgba($background-color, .2);
        // border-bottom: 1px solid $color-dark;
        // backdrop-filter: blur(3px);
        // box-shadow: rgba(17, 12, 46, 0.5) 0px 0px 10px 0px;
    }
    .wrapper:after {
        display: none;
    }
    .site-title {
        // padding: 1rem;
        color: var(--color-light);
        font-size: 2.5rem;
        box-sizing: border-box;
        line-height: 1;
        text-shadow: var(--header-text-shadow);
        @include media-query($on-palm) {
            // font-size: 4rem;
        }
        pointer-events: auto; 
        font-family: $base-font-family;
        font-weight: 900;
        transition: .2s ease-in-out;
        &:hover {
            text-decoration: none;
            // font-style: italic;
            // -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
            // -webkit-mask-image: linear-gradient(-75deg, rgba($color-red,.6) 30%, $color-red 50%, rgba($color-red,.6) 70%);
            // -webkit-mask-size: 200%;
            animation: shine 2s infinite;          
        }
    }
    .site-nav {
        // padding: 1rem;
        box-sizing: border-box;
        z-index: 999;
        line-height: 1;
        pointer-events: auto; 
        font-size: 1.5rem;
        text-shadow: var(--header-text-shadow);
        a {
            display: inline-block;
            position: relative;
            // transition: .2s ease-in;
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
            width: fit-content;
            // background-color: $color-red;
            // color: var(--color-light);
            border: 2px solid var(--color-light);         
            color: var(--color-light);   
        }
        .trigger a.page-link {
            padding: 0 .4em;
            border-radius: 1em;
            transition: ease-in .2s;
            &:hover {
                text-decoration: none;
                text-shadow: 0 0 5px var(--color-light), var(--header-text-shadow);
                // animation: bounce-up .3s;
                // transform: translateY(-2px);   
                // box-shadow: 3px 3px 1px $shadow-color;         
            }
            &:focus {
                text-shadow: 0 0 6px var(--color-light), var(--header-text-shadow);
                color: $color-extra-light;
            }
            &.current {
            text-shadow: 0 0 6px var(--color-light), var(--header-text-shadow);
            color: $color-extra-light;
            background: rgba(var(--color-light-rgb), .3);
            // background-color: $color-dark;
            // transform: translateY(-2px);
            // box-shadow: 3px 3px 1px $shadow-color;  
            }    
        }
    }
    .trigger {
        a {
            z-index: 1000;
        }
    }
    .page-link {
        color: $header-color;
        &:not(:last-child) {
          margin-right: 0;
        }
    }
    .secondary-navs {
        position: fixed;
        right: 0;
        height: auto;
        top: 0;
        margin-top: var(--main-margin-top);
        margin-right: 1rem;//5%;
        @include media-query($on-palm) {
            margin-top: 8rem;
        }
    }
    // @include media-query($on-palm) {
    //     .secondary-navs {
    //         position: fixed;
    //         left: 0;
    //         height: auto;
    //         top: 6rem;
    //         margin-left: 5%;
    //     }
    // }
    .tag-nav {
        font-size: $base-font-size * .8;
        z-index: 10;
        transition: all .2s;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-end;
        color: $text-color;
        a {
            color: var(--color-dark);
            background-color: var(--color-light);
            text-shadow: none;
            line-height: 1rem;
            margin: .2rem;
            padding: .1rem .4rem;
            border: none;
            border-radius: .5rem;
            opacity: .8;
            // box-shadow: 0 0 5px white, 0 0 3px $brand-color, 0 0 2px $brand-color, 0 0 1px white;
            &:hover {
                background-color: var(--color-extra-light);
                text-decoration: none;
                // font-style: italic;
                opacity: 1;
            }
            &.current {
                color: black;
                background-color: var(--color-extra-light);
                box-shadow: 0 0 3px var(--color-light);
                opacity: 1;
            }
        }
    }
}
/// Disable hamburger nav in mobile view
@include media-query($on-palm) {
    // .site-nav .menu-icon {
    //     // display: none;
    // }
    // .site-nav label[for="nav-trigger"] { // Hamburger icon
    //     // display: none;
    // }
    // .site-header .site-nav input:checked ~ .trigger {
    //     display: inherit;
    // }
    // .site-nav input ~ .trigger {
    //     display: inherit;
    // }
    .site-header {
        padding: 1rem;
        .wrapper {
            display: block;
        }
        .site-title, .site-nav {
            width: 100%;
            text-align: center;
            padding-bottom: .2em;;
        }
    }
    .site-nav {
        position: inherit;
        top: inherit;
        right: inherit;
        background-color: inherit;
        border: inherit;
        border-radius: 0;
        text-align: inherit;
      }
      .site-nav label[for=nav-trigger] {
        display: none;
        // float: right;
        // width: 36px;
        // height: 36px;
        // z-index: 2;
        // cursor: pointer;
      }
      .site-nav .menu-icon {
        display: none;
        // float: right;
        // width: 36px;
        // height: 26px;
        // line-height: 0;
        // padding-top: 10px;
        // text-align: center;
      }
    //   .site-nav .menu-icon > svg {
    //     fill: #424242;
    //   }
      .site-nav input ~ .trigger {
        clear: inherit;
        display: inherit;
      }
      .site-nav input:checked ~ .trigger {
        display: inherit;
        padding-bottom: 0;
      }
      .site-nav .page-link {
        display: inherit;
        padding: inherit;
        margin-left: inherit;
      }
      .site-nav .page-link:not(:last-child) {
        margin-right: inherit;
      }
}


/// Conditional Nav Design 
$colored-buttoms: false;

@if $colored-buttoms == true {
    .site-nav {
        a {
            display: inline-block;
            position: relative;
            // transition: .2s ease-in;
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
            width: fit-content;
            background-color: $color-red;
            color: var(--color-light);
            border: 2px solid var(--color-dark);            
        }
        .trigger a.page-link {
            color: var(--color-light);
            padding: 0 .4em;
            transform-style: preserve-3d;
            border-radius: .4em;
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $color-red;
                filter: brightness(80%);
                border-radius: inherit;
                box-shadow: 0 0 0 2px var(--color-dark), 0 0.25em;
                transform: translate3d(0, 0.3em, -1em);
                transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
            }

            &:hover {
                text-decoration: none;
                text-shadow: 0 0 5px var(--color-light);
                // animation: bounce-up .3s;
                // transform: translateY(-2px);   
                // box-shadow: 3px 3px 1px $shadow-color;         
            }
            &:focus {
                text-shadow: 0 0 6px var(--color-light);
                color: $color-extra-light;
                transform: translate(0, 0.3em);
                &::before {
                    box-shadow: 0 0 0 2px var(--color-dark), 0 0.1em 0 0;
                    transform: translate3d(0, 0, -1em);
                  }
              }
              &.current {
                text-shadow: 0 0 6px var(--color-light);
                color: $color-extra-light;
                // transform: translateY(-2px);
                // box-shadow: 3px 3px 1px $shadow-color;  
                transform: translate(0, 0.2em);
                &::before {
                    box-shadow: 0 0 0 2px var(--color-dark), 0 0.2em 0 0;
                    transform: translate3d(0, 0.1em, -1em);
                  }
              }    
        }
        input:checked ~ .trigger {
            @include media-query($on-palm) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                a {
                    margin: .2rem 0;
                }
            }
        }
        @include media-query($on-tablet) {
            // width: 12rem;
        }
        @include media-query($on-palm) {
            width: auto;
            padding: .5rem;
            background-color: rgba($color-light, .8);
            border: 1.5px solid $dark-text-color;
            right: 0;
            margin-right: 10px;
        } 
    }
}


///////////////////////////////////////////
/// MAIN
/// PAGE CONTENT
///////////////////////////////////////////
/// right-margin: 14 (full), 12 (tablet), 0 (mobile)
main {
    margin-top: 8rem;
    // position: fixed;
    // overflow: scroll;
    width: var(--main-width);
    min-height: 60vh;
    height: 100%;
    margin: var(--main-margin-top) calc( (100vw - var(--main-width))/2 ) 3rem;
    display: flex;
    padding: 0 0 3rem 0;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    border-radius: 1em;
    // background-color: rgba(var(--color-light-rgb), .2);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border: 2px solid rgba(var(--color-light-rgb), .3);
    // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    @include media-query($on-palm) {
        width: auto;
        margin: 8rem 1rem 3rem;
    }
}
.page-content {
    color: var(--text-color);
    // @include media-query($on-tablet) {
    //     margin: 0 12rem 0 0;
    // }
    // @include media-query($on-palm) {
    //     width: 100vw;
    //     margin: 0;
    //     // margin: 10rem 0 0 0;
    // }
    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    a {
        color: var(--text-color);
        text-decoration: underline;
        &:visited {
            color: var(--text-color);
        }
        &:hover {
            color: $brand-color;
        }
    }
}
.site-footer {
    border-top: none;
    padding: 0;
    .wrapper {
        max-width: 100vw;
    }
}

///////////////////////////////////////////
/// HOME ///
///////////////////////////////////////////

#typewriter-text {
    color: var(--color-extra-light);
    text-shadow: var(--header-text-shadow);
    font-family: $mono-font-family;
    font-size: 1.5*$base-font-size;
    position: absolute;
    top: 55%;
    left: 20%;
    text-align: left;
    width: 24em;
    height: 2em;
    @include media-query($on-palm) {
        //right: inherit;
        width: inherit;
        left: 5%;
        top: 20%;
    }
}

///////////////////////////////////////////
/// STORIES 
///////////////////////////////////////////
ul.post-list {
    //padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li.post {
        color: $dark-text-color;
        display: flex;
        flex-direction: column;
        width: calc(100%/3);
        // margin: 2rem 1rem;
        // margin: 2rem calc(10%/6);
        margin-bottom: 0;
        @include media-query($on-tablet) {
            width: 50%;
        }
        @include media-query($on-palm) {
            width: 100%;
            margin: inherit;
        } 
        @include media-query($on-palm) {
            li {
                width: 100%;
            } 
        }
    }    a.post-link {
        color: $dark-text-color;
        margin: 2rem 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem 1rem 2rem 1rem;
        transition: .2s ease-in-out;
        // background: white;
        border-radius: 1rem;
        opacity: .8;
        justify-content: space-between;
        text-decoration: none;
        // border: 1.5px solid var(--dark-text-color);
        box-shadow: 0 0 1rem $shadow-color;
        // min-height: 200px;
        @include media-query($on-palm) {
            margin: 0;
            min-height: initial;
            opacity: .9;
        } 
        &:hover {
            color: inherit;
            opacity: 1;
            // background-color: rgba(255,255,255,.9);
            transform: scale(1.03);
        }
        h3 {
            font-size: $base-font-size * 1.2;
            font-weight: 800;
            margin: .5rem 0;
        }
        .post-link-empty {
            width: 100%;
            height: 1px;
        }
    }
    .post-excerpt {
        font-size: $small-font-size;
        margin-bottom: .5rem;
        font-family: $reading-font-family;
    }
    .post-thumbnail img {
        margin: auto;
        display: block;
        width: 80%;
        height: 180px;
        object-fit: cover;
        padding: .5rem;
    }
}
button.go-back {
    position: fixed;
    left: 1rem;
    border: none;
    
    @include media-query($on-tablet) {
        display: none;
    }
    @include media-query($on-palm) {
        display: none;
    } 
}
.post-meta {
    font-size: $small-font-size;
    color: var(--color-dark);
    margin-bottom: 1rem;
    // opacity: .5;
    border-bottom: 1px solid var(--color-dark);
}  
article.post {
    color: $dark-text-color;
    // background-color: rgba(255,255,255,.8);
    padding: 1rem;
    font-size: $reading-font-size;
    border: 1.5px solid $dark-text-color;
    max-width: 800px;
    margin: auto;
    border-radius: 1rem;
    a {
        color: $dark-text-color;
    }
}
.post-header {
    text-align: left;
    margin-bottom: 10px;
    .post-title {
        font-size: $base-font-size * 2.2;
        // font-family: $font-family-accent;
        margin: 1.5rem 0 1rem 0;
        // font-size: $base-font-size * 1.2;
        font-weight: 800;
    }
}
.post-content {
    padding: 2rem 3rem;
    // background-color: rgba(255,255,255,.8);
    // border: 2px solid $border-color-translucent;
    // border-radius: 15px;
    border: 1px solid $dark-text-color;
    margin-bottom: 0;
    @include media-query($on-palm) {
        padding: 2rem .5rem;
        border: none;
        iframe {
            width: 100%;
        }
    }
    img {
        // max-height: 80vh;
        margin-bottom: .5rem;
    }
    table {
        //max-width: 600px;
        width: inherit;
    }
    h3,h4 {
        // display: inline;
        margin: 0;
    }
    // h3, h4 {
    //     display: inline;
    //     background-repeat: no-repeat;
    //     // background-image: -webkit-gradient(linear,left top,left bottom,from(#b8c8d6),to(#b8c8d6));
    //     // background-image: linear-gradient(180deg,#b8c8d6,#b8c8d6);
    //     background-position-y: 100%;
    //     --underline-width-scale: calc(12 / 8);
    //     background-position-x: 100%;
    //     background-size: 100% 40%;
    //     margin-top: 1.5rem;
    //     margin-bottom: 2rem;
    //     font-weight: 700;
    // }
}
pre, code {
    background-color: var(--background-color);
}
// article.post, .post-content {
//     font-family: $sans-serif-font-family;
// }
.post-content p, .post-content li, .post-content ul {
    font-family: $reading-font-family;
}

///////////////////////////////////////////
/// ABOUT 
///////////////////////////////////////////
.about {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    @include media-query($on-palm) {
        flex-direction: column;
    }
    .scramble-text-about {
        font-size: 3rem;
        line-height: 1;
        @include media-query($on-palm) {
            font-size: 2rem;
        }
    }
    button {
        color: var(--text-color);
        font-size: $small-font-size;
        font-family: inherit;
        background-color: transparent;
        border: none;
        transition: .1s ease-in;
        &:hover {
            animation: bounce-up .3s;
            //color: $brand-color;
            cursor: pointer;
            transform: translateY(-2px);   
            text-shadow: 2px 2px 1px $shadow-color;  
        }
    }
    #jeehye-audio {
        font-size: $small-font-size;
    }
    #description {
        // background-color: $background-color-translucent;
        // padding: 1rem;
        // margin: 2rem 0;
        // max-width: 40rem;
        // border: 2px solid black;
        ul {
            line-height: 2rem;
            list-style: none;
            margin: 1rem 0;
            display: grid;
            grid-template-columns: min-content auto;
            column-gap: 1rem;
            row-gap: 1rem;
        }
        span {
            display: inline-block;
            background-color: var(--color-red);
            color: var(--color-light);
            font-weight: bold;
            padding: 0 5px;
            font-style: italic;
            // text-decoration: underline;
            
        }
        // span:hover {
        //     //color: $brand-color;
        //     // text-shadow: 2px 2px 1px #e58596;
        //     text-shadow: 0 0 5px $contrast-color;
        //     // text-shadow: 0 0 5px $contrast-color, 0 0 3px $contrast-color, 0 0 2px $contrast-color, 0 0 1px $contrast-color;//#c37171;
        //     transition: .2s ease-out;
        //     cursor: cell;
        //     //animation: bounce-up .3s;;
        //     //transform: translateY(-2px);        
        // }
    }
    #contact {
        margin: 1rem 0;
    }
    .mailto-message {
        position: absolute;
        display: none;
        width: auto;
        white-space: nowrap;
        font-size: .7rem;
        background-color: var(--color-dark);// rgba(0,0,0,0.8);
        color: var(--color-light);
        padding: 2px 6px;
        border-radius: 2px;
        &:after {
            content: '';
        }
    }
    .mailto-link:hover .mailto-message,
    .mailto-link:focus .mailto-message,
    .mailto-link:focus-within .mailto-message {
        display: block;
    }
    .about-photo-col {
        width: 40%;
    }
    .about-text-col {
        width: 60%;
        color: var(--color-red);
    }
    @include media-query($on-palm) {
        .about-photo-col, .about-text-col {
            width: 100%;
        }
    } 
    .about-photo-col, .about-text-col {
        box-sizing: border-box;
        padding: 1rem;
    }
    #myPhoto {
        //display: none;
        background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLV7vqVh6u-277985WCCX3aVpsT4E9FFdoA-VP206Ra3buz4vVFXfctiQnUYFKJ7_IHOBxGB4j3-WUhypHT5kCmt-ueZc1QvMpfkvFbJNbDKNMhHyfPk1QFhoKrsmgifJpwitxFqYomqy7SZ_i3Kzz-9=w1100-h1262-no?authuser=0');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: .2s ease-out;
        height: 100%;
        width: 100%;
        border: none;
        @media (max-width:767px){ // mobile
            height: 60vh;
        }
        &:hover {
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXH_ij3DwbvrLXn76AMQCisgol24P0OQDuKtv83DkFZq8yoKqUM50yCX7CwbfN19emb0b0LBmae3aalJGjDeynCEa8-b7vWcN7s6hzXc4xBl-7oZ6NA3puqcsceZ75LQ7x-vcnvH1nZZU22CuqML-t7=w1100-h1262-no?authuser=0');
        }
    }
    // #myPhoto {
    //     transition: .2s ease-out;
    //     filter: grayscale(1);
    //     border: none;
    //     @media (max-width:767px){ // mobile
    //         max-height: 50vh;
    //     }
    //     // &:hover {
    //     // }
    // }
}



///////////////////////////////////////////
/// 35mm 
///////////////////////////////////////////
.photos-35mm {
    margin-top: 5rem;
}
ul.photo-list {
    margin: 0;
    list-style: none;
    li.photo-item {
        width: calc(100%/2);
        height: auto;
        a {
            transition: .3s ease-in-out;
            display: block;
            margin: 5rem 1rem;
            cursor: zoom-in;
            text-decoration: none;
            // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
            &:hover {
                transform: scale(1.02);
                // box-shadow: 0 0 1rem rgba(255,255,255,.4);
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
            }
        }
        p {
            display: none;
        }
        &:nth-child(2) {
            margin-top: 10rem;
        }
        @include media-query($on-palm) {
            width: 100%;
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    }
}
ul.video-list {
    margin: 0;
    list-style: none;
    li.video-item {
        width: 50%;
        max-height: 80vh;
        // display: inline-flex;
        // height: 50vh;
        // margin: 1rem;
        div.video-embed {
            margin: 1rem;
            max-width: 100%;
            // border: solid black;
            // border-width: 5px 10px;
            iframe {
                border: solid black;
                border-width: 5px 10px;
            }
        }
        div.video-info {
            margin: 1rem;
        }
    }
}
.modal-overlay {
    opacity: 1;
    background-color: rgba(255,255,255,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    cursor: zoom-out;
    img {
        display: block;
        max-width: 90%;
        max-height: 90%;
    }
    p { // tags
        font-family: $mono-font-family;
        font-size: $small-font-size;
        padding: 0;
        margin: 0;
        color: rgba(255,255,255,.6);
        text-align: center;
    }
    @include media-query($on-palm) {
        padding: .5rem;
    }
}


///////////////////////////////////////////
/// EFFECTS 
///////////////////////////////////////////
.glassmorphism {
    background-color: rgba(var(--color-light-rgb), .3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(var(--color-light-rgb), 0.5);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: rgba(var(--color-extra-light-rgb), .6);
    }
}
.hidden-nav {
    //display: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.hidden { 
    display: none;
    opacity: 0;
}
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
}
@keyframes bounce-up {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    70% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}
@keyframes photo-bounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
    }
    100% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
}
.translucent-background {
    background-color: $background-color-translucent;
}
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
// @keyframes bounce-up {
//     0% {
//         -webkit-transform: translateY(0px);
//         transform: translateY(0px);
//     }
//     70% {
//         -webkit-transform: translateY(-3px);
//         transform: translateY(-3px);
//     }
//     100% {
//         -webkit-transform: translateY(-2px);
//         transform: translateY(-2px);
//     }
// }
// white glow on black texts right on top of the background image

// .underline-effect { // UNDERLINE EFFECT FOR NAV
//     transition: .2s ease-in-out;
//     a:after {
//         position: absolute;
//         bottom: .2em; left: 0; right: 0;
//         margin: auto;
//         width: 0%;
//         content: '';
//         color: transparent;
//         background: $header-highlight-color;
//         // background: #212529;
//         height: .05em;
//         text-decoration: none;
//     }
//     a:after {
//         transition: .2s ease-in-out;
//     }
//     a:hover, a.current {
//         color: $header-highlight-color;
//         text-decoration: none;
//         font-style: italic;
//     }
//     a:hover:after {
//         width: 100%;
//     }
//     a.current:after {
//         width: 100%
//     }
// }
.aos-jeehye {
    opacity: 0;
    transition-property: opacity, transform;
    transform: translate(0, 50px);
    transition: transform 1s ease-out, opacity 1s ease-out;
}
.is-visible {
    opacity: 1;
    transform: none;
}
.img-three-row {
    display: inline-block;
    width: 30%;
    @include media-query($on-palm) {
        width: inherit;
    } 
}
.img-two-row {
    display: inline-block;
    width: 45%;
    @include media-query($on-palm) {
        width: inherit;
    } 
}
.img-small {
    max-width: 300px;
}
.photo-gallery-four {
    display: inline-block;
    width: 23%;
    @include media-query($on-palm) {
        width: inherit;
    }   
}
figcaption {
    margin-bottom: 1rem;
    color: $brand-color;
}
.img-size-medium {
    width: 450px;
}


/* COMMENTS */
#comment-policy {
    display: none;
}