.page.brain {
    .brain-top {
        font-size: x-large;
    }
    // #brain-img img{
    //     min-width: 30vw;
    //     @include media-query($on-palm) {
    //         min-width: 70vw;
    //     }
    // }
    section {
        max-width: 1200px;
        margin: auto;
    }    
}

section.publications {
    ul {
        list-style: none;
        margin: 0;
        li {
            padding-left: 1rem ;
            text-indent: -1rem ;
            margin-bottom: 1rem;;
        }
        b {
            color: var(--color-highlight);
        }
    }
}
#brain-img {
    background: url('../assets/brain/brain_cropped_bitmap_tile.png');
    background-repeat: no-repeat; 
    height: calc(10000px/24); 
    width: auto; 
    background-position: center top;
}
