$background-color-translucent: #fdfdfd93;
$background-color-translucent-light: rgba(255,255,255,.3);
$border-color-translucent: rgba(255,255,255,.5);
$brand-color: #5d7096; //#2a7ae2 !default;
$font-family-accent: 'Black Han Sans', sans-serif;
$vertical-header: false;
// font-family: 'Black Han Sans', sans-serif;
// font-family: 'IBM Plex Sans KR', sans-serif;

body {
    font-family: $mono-font-family;
    @if $vertical-header {
        flex-direction: row;
    }
    scrollbar-width: none;
}
body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("https://lh3.googleusercontent.com/pw/ACtC-3fMCx_68JZw-9nMunNZekgYepXIvxq2IGT3cLIzlSuabf-vmIk4vT2olhc63HRV5gMXKgHel9kSQjqkur4tvcJc2ycZ8ecXPbI_ZuASK3_spCAlwE_xlM8khCLq0S83_bGNOcaD93ynxWANCHFou6HL=w1058-h628-no") no-repeat center center; //repulse bay
    background-size: cover;
    //background: url("https://images.unsplash.com/photo-1604251833079-8655bea7a58d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2535&q=80") no-repeat center top;
    opacity: .9;
    //filter: saturate(1.2) contrast(0.8) brightness(1.1);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{ scrollbar-width: none; }
}
nav {
    z-index: 100;
}
.wrapper {
    max-width: $content-width;
}
blockquote {
    border-left: 4px solid $grey-color;
}
.img-center {
    display: block;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 1.5rem;
}
h2 {
    text-align: center;
}

// widths of header/sidebar and main content region
// 14 rem / margin-left: 16 rem; margin-right: 2rem;
// remove footer - no  need
.site-header {
    border: none;
    .site-title {
        font-family: $base-font-family;
        font-weight: 900;
        transition: .2s ease-in-out;
        &:hover {
            text-decoration: none;
            font-style: italic;
        }
    }
    .trigger {
        height: 54px;
        align-items: center;
        @include media-query($on-palm) {
            height: inherit;
        }
    }
    .site-nav {
        line-height: 1.5rem;
        @include media-query($on-palm) {
            background-color: $background-color-translucent;
        } 
    }
    @if $vertical-header {
        width: 14rem;
        height: 100%;
        position: fixed;
        .wrapper {
            top: 45%;
            position: fixed;
            @include media-query($on-palm) {
                top: inherit;
                position: relative;
            }
        }
        @include media-query($on-tablet) {
            width: 12rem;
        }
        @include media-query($on-palm) {
            width: 100vw;
            height: inherit;
        } 
        .site-nav, .site-title, .page-link {
            display: block;
            width: 100%;
            //font-weight: 800;
            @include media-query($on-palm) {
                width: inherit;
            }
        }
        .tag-nav {
            transition: all 1s;
            margin-left: .3rem;
            color: $text-color;
        }
        .site-nav {
            a {
                display: block;
                position: relative;
                transition: .2s ease-in;
                width: fit-content;
            }
            @include media-query($on-palm) {
                background-color: $background-color-translucent;
            } 
        }
        
    }
    @else if $vertical-header == false {
        color: red;
        width: 100%;
        .site-nav {
            a {
                display: block;
                position: relative;
                transition: .2s ease-in;
                width: fit-content;
            }
            @include media-query($on-palm) {
                background-color: $background-color-translucent;
            } 
        }
        .trigger {
            display: flex;
        }
        .wrapper {
            margin: .5rem 1rem ;
            padding: 0;
            max-width: 100%;
        }
    }
}
// PAGE CONTENT
.page-content {
    display: flex;
    @if $vertical-header {
        margin-right: 6rem;
        margin-left: 16rem;
    }
    @else if $vertical-header == false {
        align-items: center;
    }
    transition: .3s ease-in-out;

    @include media-query($on-palm) {
        width: 100vw;
        margin: 10rem 0 0 0;
    }
    .wrapper, .page {
        height: 100%;
        width: 100%;
    }
    a {
        color: $text-color;
        text-decoration: underline;
        &:visited {
            color: $text-color;
        }
        &:hover {
            color: $brand-color;
        }
    }
}
.site-footer {
    border-top: none;
    .wrapper {
        max-width: 100vw;
    }
}

////////////
/// HOME ///
////////////
#typewriter-text {
    font-size: x-large;
    position: absolute;
    top: 65%;
    right: 20%;
    text-align: right;
    width: 24em;
    height: 2em;
    @include media-query($on-palm) {
        //right: inherit;
        width: inherit;
    }
}

///////////////
/// STORIES ///
///////////////
ul.post-list {
    //padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    li {
        // set widths etc. of each post card
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0 calc(10%/6) 1.5rem;
        @include media-query($on-tablet) {
            width: 45%;
        }
        @include media-query($on-palm) {
            width: 100%;
            margin: inherit;
        } 
    }
    a.post-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: .2s ease-in-out;
        background: rgba(255,255,255,.8);;
        justify-content: space-between;
        text-decoration: none;
        min-height: 200px;
        @include media-query($on-palm) {
            margin: 0;
            min-height: initial;
        } 
        padding: 1rem;
        &:hover {
            color: inherit;
            background-color: white;
            transform: scale(1.02);
        }
        h3 {
            font-size: $base-font-size * 1.1;
            margin: .5rem 0;
        }
        .post-link-empty {
            width: 100%;
            height: 1px;
        }
    }
    .post-excerpt {
        font-size: $small-font-size;
        margin-bottom: .5rem;
    }
    .post-thumbnail img {
        margin: auto;
        display: block;
        width: 80%;
        height: 180px;
        object-fit: cover;
        padding: .5rem;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $text-color;
    //padding: 0 1rem;
    margin-bottom: 0;
    // opacity: .5;
    border-bottom: 1px solid $text-color;
}  
article.post {
    background-color: rgba(255,255,255,.8);
    padding: 1rem;
}
.post-header {
    text-align: left;
    margin-bottom: 10px;
    .post-title {
        font-weight: 400;
        // font-size: $base-font-size * 2.2;
        font-family: $font-family-accent;
        margin: 1.5rem 0 0 0;
    }
}
.post-content {
    // font-family: 'Ubuntu Mono', monospace;
    padding: 2rem 3rem;
    // background-color: rgba(255,255,255,.8);
    // border: 2px solid $border-color-translucent;
    // border-radius: 15px;
    border: 1px solid grey;
    margin-bottom: 0;
    @include media-query($on-palm) {
        padding: 2rem .5rem;
        border: none;
    }
    img {
        max-height: 80vh;
        margin-bottom: .5rem;
    }
    table {
        //max-width: 600px;
        width: inherit;
    }
    h3 {
        display: inline;
        background-repeat: no-repeat;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#b8c8d6),to(#b8c8d6));
        background-image: linear-gradient(180deg,#b8c8d6,#b8c8d6);
        background-position-y: 100%;
        --underline-width-scale: calc(12 / 8);
        background-position-x: 100%;
        background-size: 100% 40%;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 700;
    }
}
pre, code {
    background-color: $background-color;
}
.post-link, .post-content, .post-meta {
    font-family: $base-font-family;
}


/////////////
/// ABOUT ///
/////////////
.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    button {
        font-family: inherit;
        background-color: transparent;
        border: none;
        transition: .1s ease-in;
        &:hover {
            animation: bounce-up .3s;
            //color: $brand-color;
            cursor: pointer;
            transform: translateY(-2px);   
            text-shadow: 2px 2px 1px $grey-color;  
        }
    }
}
#jeehye-audio {
    font-size: $small-font-size;
}
#description {
    background-color: rgba(255,255,255,.8);
    padding: 1rem;
    max-width: 40rem;
    ul {
        list-style: none;
        margin: 1rem 0;
    }
    span {
        display: inline-block;
        font-weight: bold;
        margin: 2px 0;
        padding: 0 5px;
        font-style: italic;
        text-decoration: underline;
        
    }
    span:hover {
        //color: $brand-color;
        //text-shadow: 2px 2px 1px #e58596;
        text-shadow: 0 0 5px white, 0 0 3px white, 0 0 2px white, 0 0 1px white;//#c37171;
        transition: .2s ease-out;
        cursor: cell;
        //animation: bounce-up .3s;;
        //transform: translateY(-2px);        
    }
}
#contact {
    margin: 1rem 0;
}
.mailto-message {
    position: absolute;
    display: none;
    width: auto;
    white-space: nowrap;
    font-size: .7rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 2px 6px;
    border-radius: 2px;
    &:after {
        content: '';
    }
}
.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
    display: block;
}
@if $vertical-header {
    .about-right-col {
        display: none;
    }
}
@else if $vertical-header == false {
    .about-right-col {
        width: 35%;
    }
    .about-left-col {
        width: 60%;
    }
    @include media-query($on-palm) {
        .about-right-col, .about-left-col {
            width: 100%;
        }
        .about {
            flex-direction: column;
        }
        .about-right-col {
            align-self: flex-start;
        }
    } 
}

#myPhoto {
    //display: none;
   background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLV7vqVh6u-277985WCCX3aVpsT4E9FFdoA-VP206Ra3buz4vVFXfctiQnUYFKJ7_IHOBxGB4j3-WUhypHT5kCmt-ueZc1QvMpfkvFbJNbDKNMhHyfPk1QFhoKrsmgifJpwitxFqYomqy7SZ_i3Kzz-9=w1100-h1262-no?authuser=0');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   transition: .2s ease-out;
   height: 100%;
   width: 100%;
   border: none;
   @media (max-width:767px){ // mobile
     height: 60vh;
   }
   &:hover {
   background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXH_ij3DwbvrLXn76AMQCisgol24P0OQDuKtv83DkFZq8yoKqUM50yCX7CwbfN19emb0b0LBmae3aalJGjDeynCEa8-b7vWcN7s6hzXc4xBl-7oZ6NA3puqcsceZ75LQ7x-vcnvH1nZZU22CuqML-t7=w1100-h1262-no?authuser=0');
   }
  }


////////////
/// 35mm ///
////////////
ul.photo-list {
    margin: 0;
    list-style: none;
    li.photo-item {
        width: 50%;
        height: auto;
        a {
            display: block;
            margin: .5rem;
            cursor: zoom-in;
            text-decoration: none;
        }
        p {
            display: none;
        }
        @include media-query($on-palm) {
            width: 100%;
        } 
    }
}
.modal-overlay {
    transition: opacity 1s ease-in-out;
    opacity: 1;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    cursor: zoom-out;
    img {
        display: block;
        max-width: 90%;
        max-height: 90%;
    }
    p {
        font-family: monospace;
        padding: 0;
        margin: 0;
        color: rgba(255,255,255,.6);
        text-align: center;
    }
}


///////////////
/// EFFECTS ///
///////////////
.hidden-nav {
    //display: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.hidden { 
    display: none;
    opacity: 0;
}
@keyframes bounce-up {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    70% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}
@keyframes photo-bounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
    }
    100% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
}
.translucent-background {
    background-color: $background-color-translucent;
}
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
// @keyframes bounce-up {
    //     0% {
        //         -webkit-transform: translateY(0px);
        //         transform: translateY(0px);
        //     }
        //     70% {
            //         -webkit-transform: translateY(-3px);
            //         transform: translateY(-3px);
            //     }
            //     100% {
                //         -webkit-transform: translateY(-2px);
                //         transform: translateY(-2px);
                //     }
                // }
                // white glow on black texts right on top of the background image
                #typewriter-text {
                    font-family: monospace;
                }
                
                .underline-effect { // UNDERLINE EFFECT
                    transition: .2s ease-in-out;
                    a:after {
                        position: absolute;
                        bottom: .2em; left: 0; right: 0;
                        margin: auto;
                        width: 0%;
                        content: '';
                        color: transparent;
                        background: #212529;
                        height: .05em;
                        text-decoration: none;
                    }
                    a:after {
                        transition: .2s ease-in-out;
                    }
                    a:hover, a.current {
                        text-decoration: none;
                        font-style: italic;
                    }
                    a:hover:after {
                        width: 100%;
                    }
                    a.current:after {
                        width: 100%
                    }
                }
                .aos-jeehye {
                    opacity: 0;
                    transition-property: opacity, transform;
                    transform: translate(0, 50px);
                    transition: transform 1s ease-out, opacity 1s ease-out;
                }
                .is-visible {
                    opacity: 1;
                    transform: none;
                }
                .img-three-row {
                    display: inline-block;
                    width: 30%;
                    @include media-query($on-palm) {
                        width: inherit;
                    } 
                }
                .img-two-row {
                    display: inline-block;
                    width: 45%;
                    @include media-query($on-palm) {
                        width: inherit;
                    } 
                }
                .img-small {
                    max-width: 300px;
                }
                .photo-gallery-four {
                    display: inline-block;
                    width: 23%;
                    @include media-query($on-palm) {
                        width: inherit;
                    }   
                }
                figcaption {
                    margin-bottom: 1rem;
                    color: $brand-color;
                }
                .img-size-medium {
                    max-width: 400px;
                }
                
                
                /* COMMENTS */
                #comment-policy {
                    display: none;
                }