$background-color-translucent: #fdfdfdad;
$brand-color: #5d7096; //#2a7ae2 !default;

body {
    flex-direction: row;
    scrollbar-width: none;
}
body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    //background: url("https://lh3.googleusercontent.com/pw/ACtC-3fMCx_68JZw-9nMunNZekgYepXIvxq2IGT3cLIzlSuabf-vmIk4vT2olhc63HRV5gMXKgHel9kSQjqkur4tvcJc2ycZ8ecXPbI_ZuASK3_spCAlwE_xlM8khCLq0S83_bGNOcaD93ynxWANCHFou6HL=w1058-h628-no") no-repeat center center; //repulse bay
    background-size: cover;
    background: url("https://images.unsplash.com/photo-1604251833079-8655bea7a58d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2535&q=80") no-repeat center top;
    //background-size: cover;
    opacity: .9;
    //filter: saturate(1.2) contrast(0.8) brightness(1.1);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{ scrollbar-width: none; }
}

// widths of header/sidebar and main content region
// 16 rem / margin-left: 18 rem; margin-right: 2rem;
// remove footer - no  need
.site-header {
    border: none;
    width: 16rem;
    position: fixed;
    height: 100%;
    .wrapper {
        max-width: 100vw;
        top: 45%;
        position: fixed;
        @include media-query($on-palm) {
            top: inherit;
            position: relative;
        }
    }
    @include media-query($on-laptop) {
        width: 14rem;
    }
    @include media-query($on-palm) {
        width: 100vw;
        height: inherit;
    } 
    .site-nav, .site-title, .page-link {
        display: block;
        width: 100%;
        //font-weight: 800;
        @include media-query($on-palm) {
            width: inherit;
        }
    }
    .site-nav {
        @include media-query($on-palm) {
            background-color: $background-color-translucent;
        } 
    }
}
// PAGE CONTENT
.page-content {
    margin-right: 2rem;
    margin-left: 18rem;
    @include media-query($on-laptop) {
        margin-right: 2rem;
        margin-left: 16rem;
    }
    @include media-query($on-palm) {
        width: 100vw;
        margin: 10rem 0 0 0;
    }
    .wrapper, .page {
        height: 100%;
    }
    a {
        color: $text-color;
        text-decoration: underline;
        &:visited {
            color: $text-color;
        }
        &:hover {
            color: $brand-color;
        }
    }
}
.site-footer {
    border-top: none;
    .wrapper {
        max-width: 100vw;
    }
}

////////////
/// HOME ///
////////////
#typewriter-text {
    font-size: large;
    position: absolute;
    top: 65%;
    right: 20%;
    text-align: center;
    font-style: italic;
    width: 24em;
    height: 2em;
    @include media-query($on-palm) {
        right: inherit;
        width: inherit;
    }
}

///////////////
/// STORIES ///
///////////////
ul.post-list {
    padding: 1rem;
    background-color: $background-color-translucent;
}
article.post {
    padding: 1rem;
    background-color: $background-color-translucent;
}
pre, code {
    background-color: $background-color;
}


/////////////
/// ABOUT ///
/////////////
.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    button {
        font-family: inherit;
        background-color: transparent;
        border: none;
        transition: .1s ease-in;
        &:hover {
            animation: bounce-up .3s;;
            //color: $brand-color;
            cursor: pointer;
            transform: translateY(-2px);   
            text-shadow: 2px 2px 1px $grey-color;  
        }
    }
}
#jeehye-audio {
    font-size: $small-font-size;
}
#description {
    background-color: $background-color-translucent;
    padding: 1rem;
    ul {
        list-style: none;
        margin: 1rem 0;
    }
    span {
        display: inline-block;
    }
    span:hover {
        //color: $brand-color;
        //text-shadow: 2px 2px 1px #e58596;
        text-shadow: 0 0 5px $brand-color;//#c37171;
        transition: .2s ease-out;
        cursor: cell;
        //animation: bounce-up .3s;;
        //transform: translateY(-2px);
    }
}
#contact {
    margin: 1rem 0;
}


///////////////
/// EFFECTS ///
///////////////
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
@keyframes bounce-up {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    70% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}
// white glow on black texts right on top of the background image
#typewriter-text, header, h1 {
    //text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;
    //font-weight: bold;
}
