---
layout: default
---
<div class="page about">
    <h1 class="about-name">안녕, <br> I'm Jeehye 
        <span id="jeehye-audio"> /ʤi: hje/ 
            <button id="speakerIcon" class="ml-2" value="PLAY">
                <i class="fas fa-volume-up"></i>
            </button> 
        </span>
    </h1>
    
    <p>
        Master's student at Berlin School of Mind and Brain.
        <a href="https://drive.google.com/file/d/10nQb7GNJAeclmlsP_vini0-cPgWtiP2o/view?usp=sharing" target="_blank">
            <button class="cv-link">[ CV ]</button>
        </a>
    </p>

    <section id="description">
        <ul>
            <li><span>Affection</span>: 35mm photography</li>
            <li><span>Aspiration</span>: Brain research</li>
            <li><span>Desire</span>: Create desires</li>
            <li><span>Favorite band</span>: 자우림</li>
        </ul>
    </section>

    <div id="contact">
        <span><a href="mailto:anjeehye1@gmail.com">anjeehye1@gmail.com</a></span>
        /
        <span>Berlin</span>
        /
        <span><a class="action primary tocart" onclick="window.open('https://www.instagram.com/anjeehye_', '_blank');return false;" style="cursor: pointer">
            @anjeehye_</a></span>
    </div>
</div>