---
layout: default
---
<div class="about">
    <h1 class="about-name">I'm JEEHYE <span id="jeehye-audio"> /ʤi: hje/ <button id="speakerIcon" class="ml-2" value="PLAY"></button> </span></h1>

    <p>
        Master's student at Berlin School of Mind and Brain.
        <a href="https://drive.google.com/file/d/10nQb7GNJAeclmlsP_vini0-cPgWtiP2o/view?usp=sharing" target="_blank">
            <button class="cv-link">CV</button>
        </a>
    </p>

    <dsection id="hashtags">
        <div class="hashtag-big"><span>#</span></div>
        <div class="hashtag-small">
            <div class="hashtag-list">
                <span>#aspiring-neuroscientist</span>
                <span>#photographer</span>
                <span>#webDesigner</span>
                <span>#tryingToMakeThisWork</span>
                <span>#noIdeaHow</span>
                <span>#perpetuallyLost</span>
            </div>
        </div>
    </section>

    <div class="about-contact">
        <span><a href="mailto:anjeehye1@gmail.com">anjeehye1@gmail.com</a></span>
        /
        <span>Berlin</span>
        /
        <span><a class="action primary tocart" onclick="window.open('https://www.instagram.com/anjeehye_', '_blank');return false;" style="cursor: pointer">
            @anjeehye_</a></span>
    </div>
</div>