---
layout: default
---
<div class="page about">
    <h1 class="about-name">I'm JEEHYE 
        <span id="jeehye-audio"> /ʤi: hje/ 
            <button id="speakerIcon" class="ml-2" value="PLAY">
                <i class="fas fa-volume-up"></i>
            </button> 
        </span>
    </h1>
    
    <p>
        Master's student at Berlin School of Mind and Brain.
        <a href="https://drive.google.com/file/d/10nQb7GNJAeclmlsP_vini0-cPgWtiP2o/view?usp=sharing" target="_blank">
            <button class="cv-link">[ CV ]</button>
        </a>
    </p>

    <section id="description">
        <ul>
            <li>I love doing 35mm photography.</li>
            <li>I aspire to do brain simulation.</li>
            <li>I draw. I have intrinsic create desires.</li>
            <li>I designed this website.</li>
        </ul>
    </section>


    <section id="hashtags">
        <div class="hashtag-big"><span>#</span></div>
        <div class="hashtag-small">
            <div class="hashtag-list">
                <span>#aspiring_neuroscientist</span>
                <span>#analog_photographer</span>
                <span>#web_designer</span>
                <span>#trying_to_make_this_work</span>
                <span>#no_idea_how</span>
                <span>#perpetually_lost</span>
            </div>
        </div>
    </section>

    <div class="about-contact">
        <span><a href="mailto:anjeehye1@gmail.com">anjeehye1@gmail.com</a></span>
        /
        <span>Berlin</span>
        /
        <span><a class="action primary tocart" onclick="window.open('https://www.instagram.com/anjeehye_', '_blank');return false;" style="cursor: pointer">
            @anjeehye_</a></span>
    </div>
</div>