---
layout: default
---
<div class="page brain">
    
    <div class='brain-top'>
        <section class="brain-intro">
            <div id="brain-img" class="align-middle"></div>
            <figcaption class="align-middle">Hi, this is my brain.</figcaption>      
            
            <p>
                <br />
                My passion is to help people by understanding better what happens in brains with disorders. 
                <br />
                I do this by doing computational simulations of the brain. 
            </p>
            <p class="text-announcement"><span>This page is still WIP. Coming soon.</span></p>

        </section>
    </div>


    <div class='brain-bottom'>
        <section class="publications">
            <h2 id="brain-publications"> Publications </h2>
            <ul>
                <li>
                    <b>An, J.</b>, Wendt, L., Wiese, G., Herold, T., Rzepka, N., Mueller, S., ... & Boehm-Sturm, P. (2023). 
                    Deep learning-based automated lesion segmentation on mouse stroke magnetic resonance images. <i>Scientific Reports</i>, 13(1), 13341.
                </li>
                <li>
                    Kroon, C., Breuer, L., Jones, L., <b>An, J.</b>, Akan, A., Mohamed Ali, E. A., ... & Weissgerber, T. L. (2022). Blind spots on western
                    blots: Assessment of common problems in western blot figures and methods reporting with recommendations to improve
                    them. <i>PLoS biology</i>, 20(9), e3001783.
                </li>
                <li>
                    Kuffner, M. T., Koch, S. P., Kirchner, M., Mueller, S., Lips, J., <b>An, J.</b>, ... & Hoffmann, C. J. (2021). Paracrine interleukin
                    6 induces cerebral remodeling at early stages after unilateral common carotid artery occlusion in mice. <i>Frontiers in
                    cardiovascular medicine</i>, 8.        
                </li>
                <li>
                    Hsiao, J. H., <b>An, J.</b>, Zheng, Y., & Chan, A. B. (2021). Do portrait artists have enhanced face processing abilities? Evidence
                    from hidden Markov modeling of eye movements. <i>Cognition</i>, 211, 104616.
                </li>
                <li>
                    Hsiao, J. H., Chan, A. B., <b>An, J.</b>, Yeh, S. L., & Jingling, L. (2021). Understanding the collinear masking effect in visual search
                    through eye tracking. <i>Psychonomic Bulletin & Review</i>, 1-11.        
                </li>
                <li>
                    <b>An, J.</b>, & Hsiao, J. H. (2020). Modulation of mood on eye movement and face recognition performance. <i>Emotion</i>.
                </li>
            </ul>
        </section>
    </div>

</div>