---
layout: default
---
<div class="page home">
  <div class='home-box scroll-appear align-right aos-jeehye' id="home-box1">
    <h1>안녕? </h1> <br /> <h1> I'm Jeehye.</h1>
    <p id="jeehye-audio"> /ʤi: hje/ 
      <button id="speakerIcon" onClick={play}>
        <i class="fa-solid fa-volume-high"></i>
      </button> 
      <audio class="jeehyeAudio">
        <source src="../assets/jeehye.mp3"></source>
      </audio>
    </p>
    <br />
    <p>You can also just say 'G - hey'.</p>
  </div>

  <div class="spacer" id="spacer1"></div>

  <div class='home-box align-left aos-jeehye' id="home-box2">
    <div id="globe-img">
      <img id="globeImg1" src="../assets/home/globe1.png" alt="globe bitmap image">
      <img id="globeImg2" src="../assets/home/globe2.png" alt="globe bitmap image">
      <img id="globeImg3" src="../assets/home/globe3.png" alt="globe bitmap image">
      <img id="globeImg4" src="../assets/home/globe4.png" alt="globe bitmap image">
      <img id="globeImg5" src="../assets/home/globe5.png" alt="globe bitmap image">
      <img id="globeImg6" src="../assets/home/globe6.png" alt="globe bitmap image">
    </div>
    <p>I’ve moved around a bit, <br />
    but right now I am based in Berlin.</p>
  </div>

  <div class="spacer"></div>

  <div class='home-box align-right aos-jeehye' id="home-box3">
    <div class="brain-img">
      <img src="../assets/home/brain1.png" alt="brain bitmap image" id="brainImg">
    </div>
    <p class="home-box-text">I am a  
      <a href="/brain/"> computational neuroscientist <i class="fa fa-brain" aria-hidden="true"></i>
      </a>
    </p> <br />
    <p class="smaller-text">(a brain trying to understand brains)</p>
  </div>

  <div class="spacer"></div>

  <div class='home-box align-left aos-jeehye' id="home-box4">
    <p>I also have a deep affection for 
      <a href="/35mm">
        analog photography 
        <i class="fa fa-film" aria-hidden="true"></i>
      </a> .
    </p>
  </div>

  <div class="spacer"></div>

  <div class='home-box scroll-appear align-right aos-jeehye' id="home-box5">
    <p>I occasionally write <a href="/stories">posts</a>.</p> <br />
    <p class="smaller-text">They're kind of all over the place. </p>
  </div>
  
  <div class="spacer"></div>
</div>
