---
layout: default
---
<div class="page home">
  <div class='home-box home-align-right aos-jeehye' id="home-box1">
    <h1>안녕? </h1> <br /> <h1> I'm Jeehye.</h1>
    <p id="jeehye-audio"> /ʤi: hje/ 
      <button id="speakerIcon" onClick={play}>
        <i class="fa-solid fa-volume-high"></i>
      </button> 
      <audio class="jeehyeAudio">
        <source src="../assets/jeehye.mp3"></source>
      </audio>
    </p>
    <br />
    <p>You can also just say 'G - hey'.</p>
  </div>

  <div class="spacer" id="spacer1"></div>

  <div class='home-box home-align-left' id="home-box2">
    <img class="home-img" id="globe-img" src="../assets/home/globe1.svg" alt="globe bitmap image">
    <!-- <div class="home-img" id="globe-img">
      <img id="globeImg1" src="../assets/home/globe1.svg" alt="globe bitmap image">
      <img id="globeImg2" src="../assets/home/globe2.svg" alt="globe bitmap image">
      <img id="globeImg3" src="../assets/home/globe3.svg" alt="globe bitmap image">
      <img id="globeImg4" src="../assets/home/globe4.svg" alt="globe bitmap image">
      <img id="globeImg5" src="../assets/home/globe5.svg" alt="globe bitmap image">
      <img id="globeImg6" src="../assets/home/globe6.svg" alt="globe bitmap image">
    </div> -->
    <div class="home-text">
      <p>I’ve moved around a bit, <br />
        but right now I am based in Berlin.</p>    
    </div>
  </div>

  <div class="spacer"></div>

  <div class='home-box home-align-right' id="home-box3">
    <img class="home-img" id="home-brain-img" src="../assets/home/brain1.png" alt="brain bitmap image">
    <!-- <div class="home-img" id="home-brain-img">
      <img src="../assets/home/brain1.png" alt="brain bitmap image" id="brainImg">
    </div> -->
    <div class="home-text">
      <p class="home-box-text">I am a  
        <a href="/brain/"> computational neuroscientist <i class="fa fa-brain" aria-hidden="true"></i>
        </a>
      </p> <br />
      <p class="smaller-text">(a brain trying to understand brains)</p>  
    </div>
  </div>

  <div class="spacer"></div>

  <div class='home-box home-align-left aos-jeehye' id="home-box4">
    <div class="home-text">
      <p>I also have a deep affection for 
        <br />
        <a href="/35mm">
          analog photography 
          <i class="fa fa-film" aria-hidden="true"></i>
        </a> .
      </p> <br />
      <span id="photo-link-text"></p>
    </div>
  </div>

  <div class="spacer"></div>

  <div class='home-box home-align-right' id="home-box5">
    <div class="home-text">    
      <!-- <p>Read my <a href="/stories">posts</a> <br> to learn more about me.</p> <br /> -->
      <p>I occasionally write <a href="/stories">posts</a>.</p> <br /> 
      <span class="smaller-text" id="box5-small-text">They're kind of all over the place, though. </span>  
    </div>
  </div>
  
  <div class="spacer"></div>
</div>
